
Click==7.0
controller-manager==0.15.1
controller-manager-msgs==0.15.1
cv-bridge==1.13.0
diagnostic-analysis==1.9.3
diagnostic-common-diagnostics==1.9.3
diagnostic-updater==1.9.3
dlib==19.17.0
dynamic-reconfigure==1.6.0
face-recognition==1.2.3
face-recognition-models==0.3.0
Flask==1.0.3
itsdangerous==1.1.0
Jinja2==2.10.1

numpy==1.16.4
opencv-python==4.1.0.25
Pillow==6.0.0

Werkzeug==0.15.4
xacro==1.13.3
